body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
    /* Customize */

    /* background-image: url("path/to/image") */
    background-image: url("images/girl-warrior.jpg");

    /* color: your color */
    color: #fff;

    /* font-family: 'your font' */
    font-family: 'fira code';
}

.content {
    width: 450px;
    height: 200px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    border-radius: 10px; 
    margin-top: 5vh;
}

#greeting{
    margin-top: 2vw;
    font-size: 100%;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

#time {
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.46);
}

#bookmarks {
    margin-top: 0;
    padding: 0%;
    list-style-type: none;
    text-align: center;
}

#bookmarks li {
    display: inline-block;
    transition: 0.3s;
}

#bookmarks li:hover {
    transform: scale(1.2);
}

#bookmarks img {
    width: 3vw;
}
